RewriteEngine on

# Redirection de /tva/ vers https://calcul-comptable.vercel.app/
RewriteRule ^tva$ https://calcul-comptable.vercel.app/$1 [P,L]

# Les lignes suivantes sont liées à la gestion des requêtes vers index.php, et à la mise en cache des fichiers statiques.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<IfModule mod_headers.c>
    # Mise en cache d'une semaine pour les images
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    # Mise en cache d'une semaine pour les fichiers JS, CSS, SWF
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>
